<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<jaxws:endpoint xmlns:tns="http://servicemix.esb.stage.sodifrance.com/"
		id="articlews" implementor="com.sodifrance.stage.esb.servicemix.ArticleWSImpl"
		wsdlLocation="wsdl/service.wsdl" endpointName="tns:ArticleWSImplPort"
		serviceName="tns:ArticleWSImplService" address="/ArticleWSImplPort">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
	</jaxws:endpoint>
	<jaxws:endpoint
		xmlns:tns="http://conditional.servicemix.esb.stage.sodifrance.com/"
		id="articleconditionalws"
		implementor="com.sodifrance.stage.esb.servicemix.conditional.ArticleConditionalWSImpl"
		wsdlLocation="wsdl/serviceConditional.wsdl" endpointName="tns:ArticleConditionalWSImplPort"
		serviceName="tns:ArticleConditionalWSImplService" address="/ArticleConditionalWSImplPort">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
	</jaxws:endpoint>
</beans>
