<?xml version="1.0"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>_ProjetImage02</display-name>
 	<servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LireImage</servlet-name>
        <servlet-class>com.sodifrance.servlet.LireImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Histogramme</servlet-name>
        <servlet-class>com.sodifrance.servlet.Histogramme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Retouche</servlet-name>
        <servlet-class>com.sodifrance.servlet.Retouche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Zoom</servlet-name>
        <servlet-class>com.sodifrance.servlet.Zoom</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LireImage</servlet-name>
        <url-pattern>/LireImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Histogramme</servlet-name>
        <url-pattern>/Histogramme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Zoom</servlet-name>
        <url-pattern>/Zoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Retouche</servlet-name>
        <url-pattern>/Retouche</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>
            faces/images.jsp
        </welcome-file>
    </welcome-file-list>
    
    <login-config>
  		<auth-method>BASIC</auth-method>
 	</login-config>
</web-app>
